{%extends 'market_app/base2.html'%}

{%block title%}درباره ما_بازار بزرگ میلاد{%endblock%}

{%block title2%}درباره ما{%endblock%}

{%block bread%}درباره ما{%endblock%}

{%block href%}about/{%endblock%}

{%block content%}

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

{%for a in about1%}

        <div class="row">
          <div class="col-lg-6">
            <img  style="height: 300px;width: 400px;"  src="{{a.ab_pic.url}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 justify">
            <h3>{{a.ab_title}}</h3>
            <p class="fst-italic">
              {{a.ab_desc}}
            </p>
           <!-- <ul>
              <li><i class="bi bi-check2-circle"></i> ما دانش آموخته رشته مهندسی نرم افزار از دانشگاه آکسفورد هستیم.</li>
              <li><i class="bi bi-check2-circle"></i> ما در دانشگاه آکسفورد به عنوان استاد آموزش میدهیم.</li>
              <li><i class="bi bi-check2-circle"></i> وبسایت های ما تماما سئو هستند.</li>
            </ul>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. 
            </p>  -->
          </div>
        </div>
{%endfor%}
      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
     <!-- End Facts Section -->

    <!-- ======= Our Skills Section ======= -->
    <!--<section class="skills" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>مهارتهای ما</h2>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        </div>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">HTML <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">CSS <i class="val">90%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">JavaScript <i class="val">75%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">PHP <i class="val">55%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section>  -->    <!-- End Our Skills Section -->

    <!-- ======= Tetstimonials Section ======= -->
    <!--<section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>دیدگاه کاربران ما</h2>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
        </div>

        <div class="testimonials-carousel swiper">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>سائول گود من</h3>
              <h4>سئو و بهینه ساز</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                عواقب خالص شکر پروین تا زمانی که کشتی انتوم ذن را دریافت کند، به نظر می رسد. آنچه متهمان به آن نیاز دارند، فقط نیاز به تحلیل آزاد دارد. برخی لبخند می زنند، اما همیشه.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>سارا ویلسون</h3>
              <h4>طراح</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>جنا کارلیس</h3>
              <h4>فروشنده</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                عواقب خالص شکر پروین تا زمانی که کشتی انتوم ذن را دریافت کند، به نظر می رسد. آنچه متهمان به آن نیاز دارند، فقط نیاز به تحلیل آزاد دارد. برخی لبخند می زنند، اما همیشه.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>مت براندون</h3>
              <h4>فریلنسر</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>جان لارنسون</h3>
              <h4>گرافیست</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                عواقب خالص شکر پروین تا زمانی که کشتی انتوم ذن را دریافت کند، به نظر می رسد. آنچه متهمان به آن نیاز دارند، فقط نیاز به تحلیل آزاد دارد. برخی لبخند می زنند، اما همیشه.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>   -->   <!-- End Ttstimonials Section -->
    {%endblock%}

  <!-- End #main -->

  <!-- ======= Footer ======= -->
  