<!-- End Contact Section -->
{%extends 'market_app/base2.html'%}

{%block title%}تماس با ما_بازار بزرگ میلاد{%endblock%}

{%block title2%}تماس با ما{%endblock%}

{%block bread%}تماس با ما{%endblock%}

{%block href%}contact/{%endblock%}

{%block content%}

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>شهرکرد_استان چهارمحال و بختیاری</h3>
                  <p>  خیابان 12محرم و خیابان ملت بازار بزرگ میلاد شهرکرد  </p>
                </div>
              </div>
              <!--<div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>ایمیل</h3>
                  <p>info@example.com<br>contact@example.com</p>
                </div>
              </div>-->
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>شماره تماس</h3>
                  <p>32253023_038<br></p>
                </div>
              </div>
            </div>

          </div>


           <!--<form >
            <table>
              <tr>
                <td>نام</td>
                <td><input type="text" name="name"></td>
              </tr>
              <tr>
                <td>ایمیل</td>
                <td><input type="text" name="email"></td>
              </tr>
              <tr>
                <td>موضوع</td>
                <td><input type="text" name="subject"></td>
              </tr>
              <tr>
                <td>پیام</td>
                <td><textarea name="message"></textarea></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="ارسال پیام"></td>
              </tr>
            </table>
           </form>  -->



          <div class="col-lg-6">
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="نام:" >
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="ایمیل:" >
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="موضوع:" >
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="پیام شما: " ></textarea>
              </div>  


              <div class="my-3">
                <!--<div class="loading">در حال ارسال پیام</div>
                <div class="error-message"></div>
                <div class="sent-message">پیام شما با موفقیت ارسال شد. ممنون!</div>
              </div>-->
              <div class="text-center"><input type="submit" value="ارسال پیام"></div>
            </form>
          </div>   

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
      <div class="container-fluid p-0">
        <iframe width="100%" height="600" src="https://map.ir/lat/32.32339/lng/50.85505/z/17/p/بازار بزرگ میلادشهرکرد" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section>    <!-- End Map Section -->

  <!-- End #main -->
  {%endblock%}

  <!-- ======= Footer ======= -->
 