{%extends 'market_app/base1.html'%}

{%load static%}

{%block title%}خانه_بازاربزرگ میلاد{%endblock%}

{%block content%}

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="/about/"> درباره ما</a></h4>
              <p class="description">بازار بزرگ میلاد شهرکرد یکی از بزرگترین مجتمع های تجاری شهرکرد است</p>
            </div>
          </div> 

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="/shop/">فروشگاه ها</a></h4>
              <p class="description">در این مجتمع تجاری انواع فروشگاه ها اعم از پوشاک،زیور الات،تزیینات عقد و عروسی و...وجود دارد</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="/services/">خدمات ما</a></h4>
              <p class="description">در بازار بزرگ میلادباوجود فروشگاه های متفاوت به راحتی میتوانید خرید کنید و از وقت خود به بهترین شکل ممکن استفاده کنید</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="/contact/"> تماس باما</a></h4>
              <p class="description"> برای ارتباط با ما وارد تماس با ما شوید </p>
            </div>
          </div> 

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <!--<section class="why-us rtl-why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="assets/img/why-us.jpg" class="img-fluid" alt="">
            <a href="https://dl3.3rver.org/hex4/Film-Khareji/trailer/Baymax.2022.Trailer.mp4" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">طراحی نوین و زیبا</a></h4>
              <p class="description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">طراحی شده با بوت استرپ</a></h4>
              <p class="description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
            </div>

          </div>
        </div>

      </div>
    </section> --> <!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>ویژگی ها</h2>
          <p>این مجتمع تجای مدرن انواع فروشگاه ها ومحیطی بسیار لذت بخش برای خرید و گذراندن اوقات فراغت شما داردوبهترین مکان برای خرید کردن مردم شهر و مسافران گرامی است</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{{image.0.img1.url}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>لذت خرید کردن را در بازار بزرگ میلاد تجربه کنید</h3>
            <p class="fst-italic">
            این مجتمع بهترین خدمات را ارائه می دهد
            </p>
            <ul>
              <li><i class="bi bi-check"></i>مجتمعی مدرن</li>
              <li><i class="bi bi-check"></i>بهترین امکانات</li>
              <li><i class="bi bi-check"></i>دارای پارکینگ مخصوص بازار</li>
              <li><i class="bi bi-check"></i> مرکز شهر و نزدیک به مکان های مهم شهر</li>
            </ul>
          </div>
        </div>

        <!-- <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features-2.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>نمودار رشد شما همیشه صعودی است</h3>
            <p class="fst-italic">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. 
            </p>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. 
            </p>
          </div>
        </div> -->

        <!--<div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>در شبکه های اجتماعی خود را معرفی کنید</h3>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان.</p>
            <ul>
              <li><i class="bi bi-check"></i> مشتریان شما در شبکه اجتماعی گشت گذار میکنند.</li>
              <li><i class="bi bi-check"></i> اوقات فراقت را به کسب درامد اختصاص دهید.</li>
              <li><i class="bi bi-check"></i> نرم افزار های جدید را امتحان کنید.</li>
            </ul>
          </div>
        </div> -->

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{{image.0.img2.url}}" class="img-fluid" width="100%">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>    انواع فروشگاه ها  </h3>
            <p class="fst-italic">
              پوشاک زنانه و مردانه
            </p>
            <p>
              زیور الات و لوازم عقد و عروسی
            </p>
            <p>
              مشاور املاک 
            </p>
            <p>
              موبایل و لوازم جانبی موبایل
            </p>
            <p>
              انواع کفش بچه گانه و بزرگسال
            </p>
            <p>
              انواع مانتو و لباس های مجلسی  
            </p>
            <p>و...</p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
    {%endblock%}

  <!-- End #main -->

  <!-- ======= Footer ======= -->
  