{%extends 'market_app/base2.html'%}

{%block title%}  پیام{%endblock%}



{%block content%}

<div class="table-container" style="display: table; width: 100%; height: 100vh; text-align: center;">
  <div class="table-cell" style="display: table-cell; vertical-align: middle;">
    <div class="message-box" style="background-color: #f3f3f3; border: 1px solid #ccc; padding: 20px; border-radius: 5px; max-width: 400px; margin: 0 auto;">
      
      <p>پیام شما با موفقیت ارسال شد.</p>
      <button class="back-button" style="margin-top: 20px;"><a href="/contact/">بازگشت</a></button>
    </div>
  </div>
</div>
{%endblock%}